@use '../utils' as *;

/*----------------------------------------*/
/*  management CSS START
/*----------------------------------------*/
.bg-lighten01{
    background-color: var(--tp-background-1)
}
.bg-lighten02{
    background-color: var(--tp-background-2)
}
.gap-top-text {
    padding-top: 115px;
}

.management {
    &-section-title {
        margin-bottom: 32px;

        & .title {
            margin-bottom: 4px;
        }

        & p {
            margin-bottom: 24px;
            margin-top: 15px;
            font-size: 16px;
            line-height: 1.73;
            font-weight: 400;
            margin: 0 0 30px;
            box-sizing: border-box;
            color: var(--tp-grey-19);
        }
    }

    &-section-left {
        text-align: left;
    }

    &-section-right {
        text-align: right;
    }

    &-about-content {
        padding-left: 30px;
        box-sizing: border-box;

        & .features-list {
            padding: 0;
            margin: 0;
            list-style: none;

            & li {
                font-weight: 500;
                font-size: 19px;
                line-height: 1.73;
                padding-left: 35px;
                position: relative;
                margin-bottom: 16px;
                margin-top: 16px;
                box-sizing: border-box;
                font-family: var(--tp-ff-body);
                color: var(--tp-common-black-20);
            }
            & li::before {
                font-family: 'ElegantIcons';
                color: var(--tp-common-yellow-6);
                font-weight: bold;
                font-size: 25px;
                position: absolute;
                left: 0;
                top: -3px;
            }
        }
    }
    &-gallery-thumbnail{
        box-sizing: border-box;
        & .thumbnail{
            text-align: right;
        }
        & .thumbmail-img{
            border: 0;
            vertical-align: middle;
            max-width: 100%;
            height: auto;
            border-radius: 10px;
        }
    }
}