@use '../utils' as *;

/*----------------------------------------*/
/*  38. POLICY CSS START
/*----------------------------------------*/
.partner {
    &_section {
        background-color: #f7f5f2;
        padding-top: 50px;
        &_inner {
            &_title {
                font-family: var(--tp-ff-heading);
                font-weight: 900;
                font-size: 40px;
                letter-spacing: -0.02em;
                // color: #7C7C85;
                margin-bottom: 25px;
                text-align: center;

                @media #{$lg} {
                    font-size: 39px;
                }

                @media #{$md, $xs} {
                    font-size: 32px;
                }
            }
            & p {
                font-family: var(--tp-ff-rajdhani);
                font-size: 18px;
                line-height: 1.5;
                font-weight: 700;
                margin-bottom: 50px;
            }
            & ol {
                & li {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 1.5;

                    & strong {
                        color: black;
                        font-weight: 900;
                    }
                }
            }
        }
    }
}