@font-face {
	font-family: 'MuseoSans';
	src:url('./fonts/MuseoSans_500.otf');
	
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'MuseoSans';
	src:url('./fonts/MuseoSans_700.otf');
	
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'MuseoSans';
	src:url('./fonts/MuseoSans-300.otf');
	
	font-weight: 300;
	font-style: normal;
}